<%- include('../template/docChain_top'); -%>

<h1 class="mt-4" style="margin: 200px 10px 25px;">
  Below are all the Documents issued by you to date
</h1>

<div class="dropdown-divider" style="margin: 25px 500px 25px 10px;"></div>

<div class="row" style="margin: 50px 0px;">
  <div class="col-2">

    <div class="list-group" id="list-tab" role="tablist" style="margin-top: 10px;">

      <% if(documents.length != 0) { %>
        <% JSON.parse(documents).forEach(document => { %>
            <a class="list-group-item list-group-item-action" id="<%= document.Key %>" data-bs-toggle="tab"
              href="#list-<%= document.Key %>" role="tab" aria-controls="list-<%= document.Key %>" style="min-width: 200px;"><%= document.Key %></a>
        <% }) %>
      <% } %>

      <div class="btn list-group-item list-group-item-action" id="add-document" aria-controls="exampleModal" role="tab" data-toggle="modal"
      data-target="#exampleModal" style="margin: 50px 50px; text-align: center; align-self: center; min-width: 200px;">
        <li class="fas fa-file-upload fa-lg" style="margin: 0px 3px;"></li>
        <a>
          ADD DOCUMENT
        </a>
      </div>
    </div>
  </div>
  <div class="col-10">
    <div class="tab-content" id="nav-tabContent" style="margin-left: 300px;">
      <% if(documents.length != 0) { %>
        <% JSON.parse(documents).forEach(document => { %>
            <div class="tab-pane fade" id="list-<%= document.Key %>" role="tabpanel" aria-labelledby="<%= document.Key %>" style="align-self: center;">
              <p style= "align-content: center;">
                <div class="card text-white mb-3" style="max-width: 35rem;">
                  <div class="card-header"><h5 style="text-align: center;"><%= document.Record.docType %></h5></div>
                  <div class="card-body">
                    <h3 class="card-title" style="color: rgb(55, 56, 56);"><%= document.Record.name %></h3><br>
                    <p class="card-text" style="font-size: 1.2rem;">

                      <p style="font-size: 1.3rem;"><strong>Issuer: </strong>
                        <%=document.Record.issuedBy %>
                      </p>

                      <p style="font-size: 1.3rem;"><strong><b>Date of Issuance: </b></strong>
                        <%=document.Record.dateOfIssuance %>
                      </p>

                      <p style="font-size: 1.3rem;"><strong>Link: </strong>
                        <a href="<%=document.Record.url %>" rel="noopener noreferrer" target="_blank"><%=document.Record.url %></a>
                      </p>

                    </p>
                  </div>
                </div>
              </p>
            </div>
        <% }) %>
      <% } %>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="border-radius: 20px;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add new document</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%- include('../template/document'); -%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" form="upload">SUBMIT</button>
      </div>
    </div>
  </div>
</div>

<% if(locals.hasOwnProperty('submissionDone')) { %>
  <% if(submissionDone) { %>

    <div class="alert alert-success alert-dismissible fade show fixed-bottom" role="alert">
      <strong>Successfull!</strong> Document has been fetched and stored.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div >

  <% } else { %>

    <div class="alert alert-danger alert-dismissible fade show fixed-bottom" role="alert">
      <strong>Failed!</strong> <%-errorMessage %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div >

  <% } %>

<% } %>

<%- include('../template/docChain_bottom'); -%>